
@media screen and (max-width:768px) {
    .menu .txt {
        display: none;
    }

    #block .container .card {
        width: 100%;
    }

    #pro .hero{
        height: 100%;
        padding-top: 3rem;
    }

    #pro .hero .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
        gap: 1rem;
    }

     #pro .hero .container .left-block,
      #pro .hero .container .right-block {
        width: 100%;
      }

      #community .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      #community .container .left-block .btn-block {
        display: flex;
        justify-content: space-between;
      }

      #hero .card .card-body .form-card {
        flex-direction: column;
      }

      #hero .shape-1 {
    position: absolute;
    top: 0px;
    right: -30px;
    background-image: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


#cart .container {
   flex-direction: column;
}

#cart .container .left-block {
    width: 100%;
}
#cart .container .right-block {
    width: 100%;
}

table {
    table-layout: auto;
}


}